* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: #2c2f33;
}
.fidget{
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin-top: 10px;
    height: 245px;
}
.buttons{
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.button{
    display: inline-block;
    background-color: #7289DA;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 16px;
}
.button:disabled{
    padding: 3px 8px;
    background-color: #2c2f33;
    border: 1px solid #6178C9;
}
.button:hover {
    background-color: #6178C9;
}
#Component_1_1{
    transform-origin: 107.5px 116.5px;
    transform-box: fill-box;
}
.selector{
    margin-top: 10px;
    font-family: sans-serif;
    color: white;
    font-size: 16px;
}
#colorSelector{
    height: 30px;
}
.timer{
    font-size: 32px;
    font-family: sans-serif;
    color: white;
    margin-top: 10px;
}
